html{
    background-color: rgb(100, 167, 0);
    font-family: verdana, sans-serif;
    align-self: center;
}

h1, h2{
    display: block;
    border: solid black;
    color: rgb(247, 247, 247);
    background-color: rgb(59, 99, 0);
    text-align: center;
}

ul{
    padding: 0 50px 0 50px;
    margin: auto;
    list-style: none;
    display: block;
    position: relative;
    width: 600px;
    min-width: 100px;
    max-width: 600px;
}

li{
    width: 500px;
    height: 300px;
    border: 1px solid black;
    margin: 50px;
    padding: 1em;
    background-color: rgb(108, 190, 0);
    text-align: center;
    position: relative;
}

a{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}
    

.food-img{
    height: 250px;
    width: 300px;
    align-self: center;
    padding: 20px 0;
}

p{
    width: 300px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(146, 255, 44);
    padding: 15px 25px;
}


a:active{
    color: orange;
}

a:visited{
    color: rgba(21, 36, 0, 0.418);
}

a:hover{
    background-color: rgb(136, 255, 0);
}